<%- include('parts/html-head') %>
<!--  -->
<%- include('parts/navbar') %>

<div class="container">
  <h2><%= name %></h2>
  <h2><%= locals.name %></h2>
  <h2><%= myArr %></h2>
  <h2><%= settings.env %></h2>
</div>

<%- include('parts/scripts') %>
<!--  -->
<script>
  const data = <%- JSON.stringify(locals) %>;
  console.log(data);
</script>
<%- include('parts/html-foot') %>
