<%- include('parts/html-head') %>
<!--  -->
<%- include('parts/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">編號</th>
            <th scope="col">名字</th>
            <th scope="col">年齡</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i of sales){ %>
          <tr>
            <td><%= i.id %></td>
            <td><%= i.name %></td>
            <td><%= i.age %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('parts/scripts') %>
<!--  -->
<%- include('parts/html-foot') %>
